.block_code .hljs-meta { color: #008040; }
.block_code .hljs-keyword { font-weight: bold; color: #1b4e7e; }
.block_code .hljs-title, .block_code .hljs-number { color: #800000; }
.block_code .hljs-comment { color: #888888; }

.docs-entry { background: #fff; box-shadow: 0 1px 2px #dbdbdb; border-radius: 3px; padding: 1rem; overflow-x: auto; width: 100%; max-width: 100%; }
.docs-entry h1, .docs-entry h2, .docs-entry h3, .docs-entry h4, .docs-entry h5, .docs-entry h6 { margin: 0 0 0.5rem; font-family: "Roboto Slab", serif; }
.docs-entry h1 code, .docs-entry h2 code, .docs-entry h3 code, .docs-entry h4 code, .docs-entry h5 code, .docs-entry h6 code { background: none; border: none; padding: 0; font-size: inherit; font-weight: normal; color: inherit; }
.docs-entry h1, .docs-entry h2 { border-bottom: 1px solid #dbdbdb; padding-bottom: 0.625rem; }
.docs-entry h1 { font-size: 1.6rem; }
.docs-entry h2 { font-size: 1.4rem; margin: 1rem 0 0.5rem; }
.docs-entry h3 { color: #de9e59; font-weight: normal; }
.docs-entry ul, .docs-entry ol, .docs-entry dl { padding-left: 1.4rem; }
.docs-entry p, .docs-entry pre, .docs-entry table { margin-bottom: 0.625rem; }
.docs-entry p, .docs-entry ul, .docs-entry ol, .docs-entry dl { text-align: justify; }
.docs-entry p code, .docs-entry ul code, .docs-entry ol code, .docs-entry dl code { white-space: pre; word-wrap: normal; }

.docs-entry-footer-buttons { margin-top: 1rem; }

section.sidebar-nav > ul .elem-toc { background: rgba(0, 0, 0, 0.05); padding: 0 !important; }
section.sidebar-nav > ul .elem-toc > .elem-text { padding: 0.2rem 0.5rem; }
section.sidebar-nav > ul .table-of-contents { background: none !important; font-size: 0.9rem !important; }
section.sidebar-nav > ul .table-of-contents .toc-item, section.sidebar-nav > ul .table-of-contents .toc-subitem { padding-left: 1rem; }

.float-right { float: right; }

.float-left { float: left; }

.admonition { border-radius: 3px; box-shadow: 0 1px 2px #dbdbdb; margin-bottom: 0.625rem; background: #c8e7fa; }
.admonition p { padding: 0 1rem; }
.admonition pre { margin-left: 1rem; margin-right: 1rem; }
.admonition .admonition-title { background: #79c2f2; font-size: 1.2rem; color: #fbf9f9; margin: 0; border-radius: 3px 3px 0 0; font-weight: normal; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.admonition > *:nth-child(2) { margin-top: 0.5rem; }
.admonition > *:not(pre):last-child { padding-bottom: 0.5rem; }
.admonition.note { background: #c8e7fa; }
.admonition.note .admonition-title { background: #79c2f2; }
.admonition.important { background: #c8fae1; }
.admonition.important .admonition-title { background: #78f0b4; }
.admonition.warning, .admonition.attention { background: #fae1c8; }
.admonition.warning .admonition-title, .admonition.attention .admonition-title { background: #f0b478; }

.injected { display: none; }
