div.admonition code {
  display: inline-block;
  overflow-x: visible;
  color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}

div.admonition p {
  margin-bottom: 5px;
}

p {
  text-align: justify;
}

p code {
  word-wrap: normal;
}
