.wy-nav-content {
    /* Make better use of modern monitors */
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    /* Put heading closer to their related content */
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Larger headings should have a little more spacing and an accenting line under them */
h1, h2 {
    margin-top: 25px;
    border-bottom: 1px solid #e1e4e5;
    padding-bottom: 10px;
}

.wy-nav-content p, .wy-nav-content ol, .wy-nav-content ul, .wy-nav-content dl {
    /* Justify text, gives a cleaner look */
    text-align: justify;
    /* Reduce vertical spacing since the default value (24px) is quite huge */
    margin-bottom: 10px !important;
}

table td, table th {
    /* For some reason, this is 90% by default, making code in tables hardly readable */
    font-size: 100% !important;
}

/* Disable line wrapping within word boundaries in code tags. Prevents method names etc. being split right down the middle. */
p code {
    word-wrap: normal;
}

/* Fix admonitions having much too large bottom margins */
div.admonition {
    margin-bottom: 10px !important;
}

div.admonition > p:last-child {
    margin-bottom: 0 !important;
}

/* Give code tags in admonitions a little more space and make them more readable */
div.admonition code {
    display: inline-block;
    overflow-x: visible;
    line-height: 18px;
    color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.7);
}

/* Space out paragraphs in admonitions vertically */
div.admonition p {
    margin-bottom: 5px;
}

/* Code in headings should just have the special font, not any of the borders etc. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    color: inherit;
}

/* Disable justified text alignment for small screens, otherwise words will be spaced out a lot */
@media screen and (max-width: 800px) {
    p, ol, ul {
        text-align: left;
    }
}
